/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
/*.tabcontent {*/
/*  display: none;*/
/*  padding: 6px 12px;*/
/*  border: 1px solid #ccc;*/
/*  border-top: none;*/
/*}*/

.tabcontent > form {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 1em;
}

#controlsTag {
  cursor: pointer;
  color: #2196F3;
  text-decoration: underline;
  align-self: flex-end;
}

#controlsContent {
  display: none;
  color: white;
  align-self: flex-end;
}

#rightArrow, #leftArrow {
  height: 1.5em;
}

#output {
  display: flex;
  justify-content: center;
  color: yellow;
  margin-bottom: 5em;
}

/*pre {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  color: yellow;*/
/*  margin-bottom: 5em;*/
/*}*/

.inputStation {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  /*background: #fbfbfb;*/
  /*background: #614747;*/
  /*background-color: #084356;*/
  /*background-color: #232728;*/
  /*background-color: #888;*/
  /*background-color: #DDDDDD;*/
  background-color: #01161E;
  color: white;
  height: 2em;
}

.inputStation:hover {
  cursor: url('../img/rec.png'), auto;
  background-color: #01161EAB;
}

.treinenBox {
  display: none;
}

/* =================== */

body {
  background-color: #084356;
  font-family: Arial, Helvetica, sans-serif;
}

* {box-sizing: border-box;}

/* Set a style for all buttons */
button {
  /*background-color: #4CAF50;*/
  background-color: #2196F3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /*width: 100%;*/
  opacity: 0.9;
}

button:hover {
  background-color: #016FB9;
}

.treinStops {
  color: white;
  margin: 0 1em;
}

.formStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

#vandaagMenuItem, #morgenMenuItem, #andersMenuItem {
  color: #151513;
}

button:hover {
  opacity:1;
}

#riddleAnswers {
  color: #228B22;
  font-weight: bold;
  display: none;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  /*float: left;*/
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  /*background-color: #f44336;*/
  background-color: #074256;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  /*display: block; !* Hidden by default *!*/
  /*position: fixed; !* Stay in place *!*/
  /*z-index: 2; !* Sit on top *!*/
  /*left: 0;*/
  /*top: 0;*/
  /*width: 100%; !* Full width *!*/
  /*height: 100%; !* Full height *!*/
  /*overflow: auto; !* Enable scroll if needed *!*/
  /*background-color: #474e5d;*/
  /*!*background-color: rgba(0,0,0,0.7); !* Black w/ opacity *!*!*/
  /*padding-top: 50px;*/
}

/* Modal Content/Box */
.modal-content {
  /*background-color: #fefefe;*/
  /*background-color: #DDDDDD;*/
  background-color: #f1f1f1;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  display: none;
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.treinenBox {
  font-family: 'Press Start 2P', cursive;
  background-color: #002A36;
  color: white;
  padding: 1em;
  margin-top: 2em;
}

.treinRitInfo {
  margin-bottom: 2em;
}

.treinRitInfo:hover {
  background-color: #084356;
  padding: 1em;
}

.treinRitInfo > p {
  font-size: 0.8em;
  color: yellow;
}

.treinRitInfoOpposite {
  margin-bottom: 2em;
  font-family: 'Press Start 2P', cursive;
  /*background-color: #002A36;*/
  background-color: #232728;
  color: white;
  padding: 1em;
  margin-top: 2em;
  display: none;
}

.treinRitInfoOpposite:hover {
  /*background-color: #084356;*/
  /*background-color: #002A36;*/
  padding: 1em;
}

.treinRitInfoOpposite > p {
  font-size: 0.8em;
  color: yellow;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

[for=andersDatum], [for=andersTijd], [for=tijd], [for=overTijd] {
  color: white;
  margin-right: 1em;
}

.level {
  display: flex;
  align-items: center;
}

.kopjes {
  display: flex;
  justify-content: left;
  color: yellow;
  margin-bottom: 5em;
}

#riddleBlock {
  display: flex;
  justify-content: space-between;
}

#riddleBlock > pre {
  color: yellow;
  margin-bottom: 5em;
}

#riddleBlock > span > a{
  color: #2196F3;
  margin-right: 1em;
}

#recentBlock {
  /*background-color: #002A36;*/
  background-color: #607D8B;
  padding: 2em;
  margin-bottom: 5em;
}

.tijdStipModus {
  background-color: #4A154B;
    color: white;
    padding: 0.3em;
    margin: 0 0.5em;
}
.dagModus {
    background-color: #228B22;
    color: white;
    padding: 0.3em;
    margin: 0 0.5em;
}
/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}